.pemandangan {
    background-image: url(pemandangan-alam-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
}

a:hover{
    color: lightgrey;
    text-decoration: none;
}